<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Bible Verse</title>
    <link rel="stylesheet" href="{% static 'css/moodverse.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}" sizes="64x64" type="image/png">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
</head>
<body>
    {% block content %}
    <div class="header">
        <div class="account-icon">
            <img src="{% static 'images/user.png' %}" alt="Account Picture" onclick="toggleMenu()">
          </div>
        <span class="title">AGAPE</span>
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                <img src="{% static 'images/user.png' %}" alt="user-pic" >
                <h2>{{ fname }}</h2>
                </div>
                <hr>

                <a href="{% url 'editProfile' %}" class="sub-menu-link">
                    <img src="{% static 'images/profile.png' %}" alt="profile">
                    <p>Edit Profile</p>
                    <span>></span>
                    </a>
                <a href="{% url 'myLikes' %}" class="sub-menu-link">
                <img src="{% static 'images/heart.png' %}" alt="profile">
                <p>My Likes</p>
                <span>></span>
                </a>
                <a href="/signout" class="sub-menu-link">
                <img src="{% static 'images/logout.png' %}" alt="profile">
                <p class="Logout">logout</p>
                <span>></span>
                </a>
            </div>
        </div>
        <nav class="menu">
          <a href="{% url 'landing' %}">HOME</a>
          <a href="{% url 'findyourverse' %}">FIND YOUR VERSE</a>
          <a href="{% url 'journal' %}">JOURNAL</a>
          <a href="{% url 'dailyverse' %}">VERSE OF THE DAY</a>
          <a href="{% url 'bibleTrivia' %}">BIBLE TRIVIA</a>
          <a href="{%url 'rosaryguide' %}">ROSARY GUIDE</a>
        </nav>
    </div>
    {% endblock %}
    <img src="{% static 'images/image2.jpg' %}" alt="Prayer Image" class="image2">
    <div class="container">
        <div class="content">
            <h2>How Are You Feeling Today, {{ fname }}?</h2>
            <div class="wrapper">
                <div class="icon"><i id="left" class="fa-solid fa-angle-left"></i></div>
                <ul class="tabs-box">
                    <li class="tab" style="background-color: #fcd700;"><a href="{% url 'happyverses' %}">Happy</a></li>
                    <li class="tab" style="background-color: #1e90ff;"><a href="{% url 'sadverse' %}">Sad</a></li>
                    <li class="tab" style="background-color: #ff1a1a;"><a href="{% url 'angryverse' %}">Angry</a></li>
                    <li class="tab" style="background-color: #ff884d;"><a href="{% url 'anxiousverse' %}">Anxious</a></li>
                    <li class="tab" style="background-color: #a9a9a9;"><a href="{% url 'worriedverse' %}">Worried</a></li>
                    <li class="tab" style="background-color: #ffcc00;"><a href="{% url 'gratefulverse' %}">Grateful</a></li>
                    <li class="tab" style="background-color: #d9534f;"><a href="{% url 'frustratedverse' %}">Frustrated</a></li>
                    <li class="tab" style="background-color: #6c757d;"><a href="{% url 'lonelyverse' %}">Lonely</a></li>
                    <li class="tab" style="background-color: #28a745;"><a href="{% url 'hopefulverse' %}">Hopeful</a></li>
                    <li class="tab" style="background-color: #ff6347;"><a href="{% url 'overwhelmedverse' %}">Overwhelmed</a></li>
                    <li class="tab" style="background-color: #f0e68c;"><a href="{% url 'confusedverse' %}">Confused</a></li>
                </ul>
                <div class="icon"><i id="right" class="fa-solid fa-angle-right"></i></div>

            </div>

        </div>
        <div class="selected-verse">
            <p id="bible-verse">{{ verse }}</p>
        </div>
    </div>
    <script src="{% static 'javascript/findverse.js' %}"></script>
</body>
</html>
