{% extends "html/header.html" %}
{% load static %}


{% block title %}
    Journal
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/compose.css' %}">
{% endblock %}


{% block bodycontents %}
        <div class="content">
            <div class="sidebar">
                <h3>MENU</h3>
              <a href="{% url 'journal' %}" id="compose">• Compose</a>
              <a href="{% url 'viewjournal' %}">• View Notes</a>
            </div>
            <h2>Compose</h2>
            <div class="compose-section">
                <form method="POST">
                    {% csrf_token %}
                    <div class="title-time">
                        <div class="input-group title-group">
                            <label for="note-title">Title:</label>
                            <input type="text" id="note-title" name="title">
                        </div>

                        <div class="input-group time-group">
                            <label for="note-time">Date:</label>
                            <input type="date" id="note-time" name="created_date">
                        </div>
                    </div>
                    <label for="note-content">Note:</label>
                    <textarea id="note-content" name="content" rows="6" cols="55"></textarea>

                    <div class="buttons">
                        <button type="reset">Clear</button>
                        <button type="submit">Save</button>
                    </div>
                </form>
            </div>
          </div>
    </div>


{% endblock %}

</html>
