{% extends "html/header.html" %}
{% load static %}
{% block title %} Rosary Guide {% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/rosary.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
{% endblock %}
{% block bodycontents %}
<img src="{% static 'images/image2.jpg' %}" alt="Prayer Image" class="image2">
<div class="content">
    <section class="container">
        <div class="testimonial mySwiper">
          <div class="testi-content swiper-wrapper">
            <div class="slide swiper-slide">
            <div class="slide-image">
             <img src="{% static 'images/rosary.png' %}" alt="rosary" class="slide-image">
             </div>
             <h1> The Rosary</h1>
              <p>
                The rosary itself is composed of 60 beads laced together with a crucifix and a pendant of Mary where the 3 strands meet. We divide the Rosary into 6 segments. The 1st segment is composed of the introductory prayers and that is followed by 5 decades.
              </p>
            </div>
            <div class="slide swiper-slide">
            <div class="slide-image">
            <img src="{% static 'images/cross.png' %}" alt="cross">
            </div>
                <h1>The Sign of the Cross</h1>
                <p>In the name of the Father and of the Son and of the Holy Spirit. Amen.</p>

                <i class="bx bxs-quote-alt-left quote-icon"></i>  
            </div>

            <div class="slide swiper-slide">
              <p>
                "Trust in the Lord with all your heart and lean not on your own understanding; in all your ways submit to Him, and He will make your paths straight." - Proverbs 3:5-6
              </p>

              <i class="bx bxs-quote-alt-left quote-icon"></i>
            </div>
            
          </div>
          <div class="swiper-button-next nav-btn"></div>
          <div class="swiper-button-prev nav-btn"></div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
</div>

<script src="{% static 'javascript/rosary.js' %} "></script>

{% endblock %}

