{% extends "../html/header.html" %}
{% load static %}

{% block title %}
    Mood Bible Verse
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/moods.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
{% endblock %}

{% block bodycontents %}
    <img src="{% static 'images/image2.jpg' %}" alt="Prayer Image" class="image2">
    <div class="content">
        <h1 class="upper-content">Here's a verse for when you're feeling Confused:</h1>
        <section class="container">
            <div class="testimonial mySwiper">
              <div class="testi-content swiper-wrapper">
                <div class="slide swiper-slide">
                  <p>
                    "If any of you lacks wisdom, let him ask of God, who gives to all liberally and without reproach, and it will be given to him." - James 1:5
                  </p>

                  <div class="details">
                        <button type="submit"><a href="{% url 'findyourverse' %}"> Choose Another Mood </a></button>
                        <div class="icon-container">
                        <span class="mdi--heart-outline"></span>
                        <span class="fontisto--favorite"></span>
                        <button class="share-btn">
                        <span class="solar--share-linear"></span> <!-- Share icon -->
                        </button>
                        </div>
                  </div>
                </div>
                <div class="slide swiper-slide">
                  <p>
                    "The Lord will guide you always; He will satisfy your needs in a sun-scorched land and will strengthen your frame. You will be like a well-watered garden, like a spring whose waters never fail." - Isaiah 58:11
                  </p>

                  <i class="bx bxs-quote-alt-left quote-icon"></i>

                  <div class="details">
                    <button type="submit"><a href="{% url 'findyourverse' %}"> Choose Another Mood </a></button>
                    <div class="icon-container">
                    <span class="mdi--heart-outline"></span>
                    <span class="fontisto--favorite"></span>
                    <button class="share-btn">
                    <span class="solar--share-linear"></span> <!-- Share icon -->
                    </button>
                    </div>
              </div>
                </div>
                <div class="slide swiper-slide">
                  <p>
                    "Trust in the Lord with all your heart and lean not on your own understanding; in all your ways submit to Him, and He will make your paths straight." - Proverbs 3:5-6
                  </p>

                  <i class="bx bxs-quote-alt-left quote-icon"></i>

                  <div class="details">
                    <button type="submit"><a href="{% url 'findyourverse' %}"> Choose Another Mood </a></button>
                    <div class="icon-container">
                    <span class="mdi--heart-outline"></span>
                    <span class="fontisto--favorite"></span>
                    <button class="share-btn">
                    <span class="solar--share-linear"></span> <!-- Share icon -->
                    </button>
                    </div>
              </div>
                </div>
                <div class="slide swiper-slide">
                    <p>
                      "Your word is a lamp to my feet and a light to my path." - Psalm 119:105
                    </p>

                    <i class="bx bxs-quote-alt-left quote-icon"></i>

                    <div class="details">
                        <button type="submit"><a href="{% url 'findyourverse' %}"> Choose Another Mood </a></button>
                        <div class="icon-container">
                        <span class="mdi--heart-outline"></span>
                        <span class="fontisto--favorite"></span>
                        <button class="share-btn">
                        <span class="solar--share-linear"></span> <!-- Share icon -->
                        </button>
                        </div>
                  </div>
                  </div>
                  <div class="slide swiper-slide">
                    <p>
                      "For God is not the author of confusion but of peace, as in all the churches of the saints." - 1 Corinthians 14:33
                    </p>

                    <i class="bx bxs-quote-alt-left quote-icon"></i>

                    <div class="details">
                        <button type="submit"><a href="{% url 'findyourverse' %}"> Choose Another Mood </a></button>
                        <div class="icon-container">
                        <span class="mdi--heart-outline"></span>
                        <span class="fontisto--favorite"></span>
                        <button class="share-btn">
                        <span class="solar--share-linear"></span> <!-- Share icon -->
                        </button>
                        </div>
                  </div>
                  </div>
              </div>
              <div class="swiper-button-next nav-btn"></div>
              <div class="swiper-button-prev nav-btn"></div>
              <div class="swiper-pagination"></div>
            </div>
          </section>
    </div>

    <script src="{% static 'javascript/swiper-bundle.min.js' %} "></script>
    <script src="{% static 'javascript/moods.js' %}"></script>
{% endblock %}
