{% extends "../html/header.html" %}
{% load static %}

{% block title %}
    Mood Bible Verse
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/moods.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
{% endblock %}

{% block bodycontents %}
    <img src="{% static 'images/image2.jpg' %}" alt="Prayer Image" class="image2">
    <div class="content">
        <h1 class="upper-content">Here's a verse for when you're feeling Grateful:</h1>
        <section class="container">
            <div class="testimonial mySwiper">
              <div class="testi-content swiper-wrapper">
                <div class="slide swiper-slide">
                  <p>
                    "Give thanks to the Lord, for He is good; His love endures forever." - Psalm 107:1
                  </p>

                  <div class="details">
                        <button type="submit"><a href="{% url 'findyourverse' %}"> Choose Another Mood </a></button>
                        <div class="icon-container">
                        <span class="mdi--heart-outline"></span>
                        <span class="fontisto--favorite"></span>
                        <button class="share-btn">
                        <span class="solar--share-linear"></span> <!-- Share icon -->
                        </button>
                        </div>
                  </div>
                </div>
                <div class="slide swiper-slide">
                  <p>
                    "Rejoice always, pray continually, give thanks in all circumstances; for this is God’s will for you in Christ Jesus." - 1 Thessalonians 5:16-18
                  </p>

                  <i class="bx bxs-quote-alt-left quote-icon"></i>

                  <div class="details">
                    <button type="submit"><a href="{% url 'findyourverse' %}"> Choose Another Mood </a></button>
                    <div class="icon-container">
                    <span class="mdi--heart-outline"></span>
                    <span class="fontisto--favorite"></span>
                    <button class="share-btn">
                    <span class="solar--share-linear"></span> <!-- Share icon -->
                    </button>
                    </div>
              </div>
                </div>
                <div class="slide swiper-slide">
                  <p>
                    "I will give thanks to you, Lord, with all my heart; I will tell of all your wonderful deeds." - Psalm 9:1
                  </p>

                  <i class="bx bxs-quote-alt-left quote-icon"></i>

                  <div class="details">
                    <button type="submit"><a href="{% url 'findyourverse' %}"> Choose Another Mood </a></button>
                    <div class="icon-container">
                    <span class="mdi--heart-outline"></span>
                    <span class="fontisto--favorite"></span>
                    <button class="share-btn">
                    <span class="solar--share-linear"></span> <!-- Share icon -->
                    </button>
                    </div>
              </div>
                </div>
                <div class="slide swiper-slide">
                    <p>
                      "Let the peace of Christ rule in your hearts, since as members of one body you were called to peace. And be thankful." - Colossians 3:15
                    </p>

                    <i class="bx bxs-quote-alt-left quote-icon"></i>

                    <div class="details">
                        <button type="submit"><a href="{% url 'findyourverse' %}"> Choose Another Mood </a></button>
                        <div class="icon-container">
                        <span class="mdi--heart-outline"></span>
                        <span class="fontisto--favorite"></span>
                        <button class="share-btn">
                        <span class="solar--share-linear"></span> <!-- Share icon -->
                        </button>
                        </div>
                  </div>
                  </div>
                  <div class="slide swiper-slide">
                    <p>
                      "Every good and perfect gift is from above, coming down from the Father of the heavenly lights, who does not change like shifting shadows." - James 1:17
                    </p>

                    <i class="bx bxs-quote-alt-left quote-icon"></i>

                    <div class="details">
                        <button type="submit"><a href="{% url 'findyourverse' %}"> Choose Another Mood </a></button>
                        <div class="icon-container">
                        <span class="mdi--heart-outline"></span>
                        <span class="fontisto--favorite"></span>
                        <button class="share-btn">
                        <span class="solar--share-linear"></span> <!-- Share icon -->
                        </button>
                        </div>
                  </div>
                  </div>
              </div>
              <div class="swiper-button-next nav-btn"></div>
              <div class="swiper-button-prev nav-btn"></div>
              <div class="swiper-pagination"></div>
            </div>
          </section>
    </div>

    <script src="{% static 'javascript/swiper-bundle.min.js' %} "></script>
    <script src="{% static 'javascript/moods.js' %}"></script>
{% endblock %}
