{% extends "../html/header.html" %}
{% load static %}

{% block title %}
    Mood Bible Verse
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/moods.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
{% endblock %}

{% block bodycontents %}
    <img src="{% static 'images/image2.jpg' %}" alt="Prayer Image" class="image2">
    <div class="content">
        <h1 class="upper-content">Here's a verse for when you're feeling Worried:</h1>
        <section class="container">
            <div class="testimonial mySwiper">
              <div class="testi-content swiper-wrapper">
                <div class="slide swiper-slide">
                  <p>
                    "Cast your cares on the Lord and He will sustain you; He will never let the righteous be shaken." - Psalm 55:22
                  </p>

                  <div class="details">
                        <button type="submit"><a href="{% url 'findyourverse' %}"> Choose Another Mood </a></button>
                        <div class="icon-container">
                        <span class="mdi--heart-outline"></span>
                        <span class="fontisto--favorite"></span>
                        <button class="share-btn">
                        <span class="solar--share-linear"></span> <!-- Share icon -->
                        </button>
                        </div>
                  </div>
                </div>
                <div class="slide swiper-slide">
                  <p>
                    "Therefore I tell you, do not worry about your life, what you will eat or drink; or about your body, what you will wear. Is not life more than food, and the body more than clothes?" - Matthew 6:25
                  </p>

                  <i class="bx bxs-quote-alt-left quote-icon"></i>

                  <div class="details">
                    <button type="submit"><a href="{% url 'findyourverse' %}"> Choose Another Mood </a></button>
                    <div class="icon-container">
                    <span class="mdi--heart-outline"></span>
                    <span class="fontisto--favorite"></span>
                    <button class="share-btn">
                    <span class="solar--share-linear"></span> <!-- Share icon -->
                    </button>
                    </div>
              </div>
                </div>
                <div class="slide swiper-slide">
                  <p>
                    "Trust in the Lord with all your heart and lean not on your own understanding; in all your ways submit to Him, and He will make your paths straight." - Proverbs 3:5-6
                  </p>

                  <i class="bx bxs-quote-alt-left quote-icon"></i>

                  <div class="details">
                    <button type="submit"><a href="{% url 'findyourverse' %}"> Choose Another Mood </a></button>
                    <div class="icon-container">
                    <span class="mdi--heart-outline"></span>
                    <span class="fontisto--favorite"></span>
                    <button class="share-btn">
                    <span class="solar--share-linear"></span> <!-- Share icon -->
                    </button>
                    </div>
              </div>
                </div>
                <div class="slide swiper-slide">
                    <p>
                      "The Lord Himself goes before you and will be with you; He will never leave you nor forsake you. Do not be afraid; do not be discouraged." - Deuteronomy 31:8
                    </p>

                    <i class="bx bxs-quote-alt-left quote-icon"></i>

                    <div class="details">
                        <button type="submit"><a href="{% url 'findyourverse' %}"> Choose Another Mood </a></button>
                        <div class="icon-container">
                        <span class="mdi--heart-outline"></span>
                        <span class="fontisto--favorite"></span>
                        <button class="share-btn">
                        <span class="solar--share-linear"></span> <!-- Share icon -->
                        </button>
                        </div>
                  </div>
                  </div>
                  <div class="slide swiper-slide">
                    <p>
                      "And my God will meet all your needs according to the riches of His glory in Christ Jesus." - Philippians 4:19
                    </p>

                    <i class="bx bxs-quote-alt-left quote-icon"></i>

                    <div class="details">
                        <button type="submit"><a href="{% url 'findyourverse' %}"> Choose Another Mood </a></button>
                        <div class="icon-container">
                        <span class="mdi--heart-outline"></span>
                        <span class="fontisto--favorite"></span>
                        <button class="share-btn">
                        <span class="solar--share-linear"></span> <!-- Share icon -->
                        </button>
                        </div>
                  </div>
                  </div>
              </div>
              <div class="swiper-button-next nav-btn"></div>
              <div class="swiper-button-prev nav-btn"></div>
              <div class="swiper-pagination"></div>
            </div>
          </section>
    </div>

    <script src="{% static 'javascript/swiper-bundle.min.js' %} "></script>
    <script src="{% static 'javascript/moods.js' %}"></script>
{% endblock %}
